.user-profile-detail{
    height: 848px;
    background: linear-gradient(341.72deg, rgba(255, 255, 255, 0.5) 7.28%, rgba(255, 255, 255, 0.18) 96.36%);
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 14px;
    overflow-x: auto;
    &.overflow::-webkit-scrollbar {
        width: 8px;
        height: 10px;
    }
    
    &.overflow::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &.overflow::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }
    
    &.overflow:hover::-webkit-scrollbar-thumb {
        background: #c7c7c7;
    }
    
    &.overflow::-webkit-scrollbar-thumb:hover {
        background: #c7c7c7;
    }
    
    .page{
        padding: 10px 32px 40px 32px;
        .navbar{
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid rgba(128, 0, 0, 0.11);
            border-bottom-left-radius: 20px; 
            background: rgba(23, 134, 238, 0.5);
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
            border-radius: 0px 14px;
            .nav-links {
                display: flex;
                gap: 22px;
                list-style: none;
                padding-right: 3rem;
              
                li {
                  a {
                    text-decoration: none;
                    color: #FFFFFF;
              
                    &:focus {
                      color: #0675EB;
                    }
                  }
                }
              }
              
              
        }
    }
}

