<div class="user-profile-detail overflow">
  <div class="page">
    <div class="title">
      <router-outlet></router-outlet>
    </div>
    <div class="navbar">
      <ul class="nav-links">
        <li>
          <a routerLink="about" href="">About</a>
        </li>
        <li>
          <a routerLink="resume" href="">Resume</a>
        </li>
        <li>
          <a routerLink="portfolio" href="">portfolio</a>
        </li>
        <li>
          <a routerLink="contact" href=""b>contact</a>
        
        </li>
      </ul>
    </div>
  </div>
</div>
