.portfolio {
  margin-top: 1rem;
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: #0675eb;
    margin-bottom: 20px;
  }
  .portfolio__nav {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-wrap: wrap;
  }
}
.portfolio__nav {
  margin-bottom: 3.4rem;
  .portfolio__nav--btn {
    border: none;
    outline: none;
    background-color: transparent;
    // margin: 0.45rem 0.4rem;
    padding-right: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    // line-height: 1;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.3s;
    color: #878789;
    &.active {
      color: #0675eb;
    }
  }
}
.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  .portfolio__gallery--item {
    width: 23%;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
}

// .grid-item {
//   opacity: 0;
//   transition: opacity 0.5s ease;
// }

// .grid-item.loaded {
//   opacity: 1;
// }

// .portfolio {
//   position: relative;
//   width: 100%;
//   background-color: var(--light-two);
// }

// #portfolio {
//   .flex {
//     gap: 0;
//     flex-wrap: wrap;
//   }
// }
// .background-bg {
//   position: absolute;
//   width: 100%;
//   height: 520px;
//   top: 0;
//   left: 0;
//   background-color: var(--main-color);
// }

// .portfolio .title,
// .portfolio .title:before {
//   color: var(--light-one);
// }

// .portfolio .title:after {
//   background-color: var(--light-one);
// }

// .filter-btn {
//   border: none;
//   outline: none;
//   background-color: transparent;
//   // margin: 0.45rem 0.4rem;
//   padding-right: 2.5rem;
//   text-transform: capitalize;
//   font-weight: bold;
//   font-size: 15px;
//   // line-height: 1;
//   cursor: pointer;
//   border-radius: 2rem;
//   transition: 0.3s;
//   color: #878789;
// }

// .filter-btn.active {
//   background-color: var(--light-one);
//   color: var(--main-color);
// }

// .portfolio .square {
//   top: 28%;
//   left: 20%;
// }

// .portfolio .circle {
//   top: 8%;
//   right: 35%;
// }

// .portfolio .triangle {
//   bottom: 10%;
//   right: 4%;
// }

// .portfolio .half-circle1 {
//   bottom: 13%;
//   left: 5%;
// }

// .portfolio .half-circle2 {
//   top: 35%;
//   right: 20%;
// }

// .portfolio .xshape {
//   top: 10%;
//   right: 8%;
// }

// .portfolio .wave {
//   top: 38%;
//   left: 6%;
// }

// .grid {
//   width: 100%;
//   margin: 1.5rem 0;
// }

// .grid-item {
//   width: 33.33%;
//   padding: 1rem 1.2rem;
//   display: flex;
//   justify-content: center;
// }

.gallery-image {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 330px;
  width: 100%;
  cursor: pointer;
}

.gallery-image img {
  position: absolute;
  height: 115%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: 0.5s;
}

.gallery-image .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: var(--light-one);
  background-color: rgba(120, 76, 251, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 3.2rem;
  opacity: 0;
  transition: 0.5s;
}

.img-overlay .plus {
  position: relative;
  margin: auto 0;
}

.plus:before,
.plus:after {
  content: "";
  position: absolute;
  width: 4.5rem;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-one);
  border-radius: 3px;
}

.plus:before {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.img-description {
  width: 100%;
}

.img-overlay h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.img-overlay h5 {
  font-size: 1.15rem;
  font-weight: 300;
}

.gallery-image:hover .img-overlay {
  opacity: 1;
}

.gallery-image:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}

.more-folio {
  display: flex;
  justify-content: center;
}
