.about-section{
    .title-about{
        .title-desc{
            padding-top: 15px;
        }
    }
    .about-container{
        margin-top: 1rem;
        .about-row{
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            .about-columns{
                width: 50%;
                .about-cards{
                    .about-inner-card{
                        display: flex;
                        align-items: center;
                        gap: 45px;
                        padding: 31px 20px;
                        margin-bottom: 15px;
                        background: linear-gradient(62.42deg, rgba(255, 255, 255, 0.1) 20.61%, rgba(255, 255, 255, 0) 82.27%);
                        backdrop-filter: blur(35px);
                        border-radius: 14px;
                        height: 45px;
                        .card-heading{
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 30px;
                            color: #0675EB;                      
                        }
                    }
                }
            }
        }
    }
}