<div class="about-section">
    <div class="title-about">
        <h2 class="title-heading">About Me</h2>
        <p class="title-desc">
        A Seasoned Creative UX & UI and Creative Designer with over 7+ years of
        experience brining consumer-level usability to enterprise-level applications.
        Vast experience with client and stakeholder relationships, along with project
        management, leadership, and strategy. Possessing a combination of conceptual
        strength and technical proficiency.  
        </p>
        <h3 (click)="show=true" *ngIf="currentView==='tablet'">Read More</h3>
        <p *ngIf="show === true" class="title-desc"> Established self-starter and team leader
        that actively helps and refines all processes necessary to achieve and
        maintain goals. My focus and competencies include creative direction, user
        interface design, user experience design, visual design, iOS design, web
        design, and graphic design.
    </p>
    </div>
<div class="about-container">
<h2 class="title-heading">What I Do</h2>
    <div class="about-row">
        <div class="about-columns">
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Wireframing-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Wireframing</h4>
                    </div>
                </div>
            </div>
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Information-Architecture-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Information Architecture</h4>
                    </div>
                </div>
            </div>
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Storyboard-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Storyboard</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-columns">
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Agile-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Agile</h4>
                    </div>
                </div>
            </div>
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Prototyping-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Prototyping</h4>
                    </div>
                </div>
            </div>
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/W3C-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>W3C Web Standards</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>