.main {
  height: 100%;
  background: linear-gradient(109.64deg, #eed5ff -0.28%, #c5e5fe 100%);
  .portfolio-section-bg {
    position: relative;
    .shapes {
      .ellipse-small {
        position: absolute;
        left: 24px;
        top: 157px;
        z-index: 1;
        animation: floating 2s ease-in-out infinite;
        @keyframes floating {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(10px);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
      .ellipse-large {
        right: 0;
        position: absolute;
        z-index: 1;
        animation: floating 2s ease-in-out infinite;
        @keyframes floating {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(10px);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
    }
    .porfolio-section-wrapper {
      width: 85%;
      margin: auto;
      display: flex;
      gap: 30px;
      padding: 30px 0;
      .porfolio-section-list {
        width: 20%;
        z-index: 2;
      }
      .porfolio-section-detail {
        width: 76%;
        z-index: 2;
      }
    }
  }
}
