<div class="main">
  <div class="portfolio-section-bg" id="portfolio-section-bg">
    <div class="shapes">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
      <!-- <img class="ellipse-small" src="assets/img/Ellipse-11.svg" alt="">
      <img class="ellipse-large" src="assets/img/Ellipse-8.svg" alt=""> -->
    </div>
    <div class="porfolio-section-wrapper" id="porfolio-section-wrapper">
      <div class="porfolio-section-list" id="porfolio-section-list">
        <app-profile></app-profile>
        <app-profile-list></app-profile-list>
      </div>
      <div class="porfolio-section-detail" id="porfolio-section-detail">
        <app-profile-detail></app-profile-detail>
      </div>
    </div>
  </div>
</div>