<div class="contact">
  <h1>Contact Us</h1>
  <div class="contact__container">
    <div class="contact__container-icons">
      <div class="contact__container-icons-container">
        <img src="/assets/img/email-icon.png" alt="email" />
        faisalali.ux@gmail.com
      </div>
      <div class="contact__container-icons-container">
        <img src="/assets/img/phone.png" alt="phone" /> +92 316 9113272
      </div>
    </div>
    <div class="contact__container-icons">
      <div class="contact__container-icons-container">
        <img src="/assets/img/location.png" alt="location" /> Dallas, TX
      </div>
      <div class="contact__container-icons-container" style="margin-left: 6rem">
        <img src="/assets/img/skype.svg" alt="skype" /> faisalali.ux@gmail.com
      </div>
    </div>
  </div>
</div>
