/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  height: 100vh;
  background: linear-gradient(109.64deg, #eed5ff -0.28%, #c5e5fe 100%);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px;
}

.title-heading {
  font-size: 31px;
  color: #0675eb;
  font-weight: 700;
  line-height: 51px;
}
/* Importing Bootstrap SCSS file. */


@media (max-width: 799px){
  .section-p1{
      padding: 40px 40px;
  }
}

@media (max-width: 477px){
  .section-p1{
      padding: 40px 40px;
  }
}
