/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  height: 100vh;
  background: linear-gradient(109.64deg, #eed5ff -0.28%, #c5e5fe 100%);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px;
}

.title-heading {
  font-size: 31px;
  color: #0675eb;
  font-weight: 700;
  line-height: 51px;
}
/* Importing Bootstrap SCSS file. */


@media (max-width: 700px){
  #porfolio-section-wrapper{
    display: block;
    width: 85% !important;
  }
  #porfolio-section-list{
    width: 100% !important;
  }
  #porfolio-section-detail{
    width: 100% !important;
  }
  .user-profile{
    height: auto !important;
    .user-profile-wrapper{
    flex-direction: row !important;
    justify-content: space-around !important;
    .user-details{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    }
  }
  .user-profile-list{
    &.d-none{
      display:none;
    }
  }
  .user-profile-detail-page{
    padding: 10px 20px 29px 20px !important;
  }
  .user-profile-detail-navbar{
    display: none;
  }
}

@media (max-width: 477px){
  .section-p1{
      padding: 40px 40px;
  }
}
