/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px;
}

.title-heading {
  font-size: 31px;
  color: #0675eb;
  font-weight: 700;
  line-height: 51px;
}
/* Importing Bootstrap SCSS file. */
