.container {
    margin-top: 1rem;
	h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 31px;
		color: #0675eb;
		margin-bottom: 20px;
	}
	.exp {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 20px;
		margin-bottom: 20px;
		position: relative;
		z-index: 3;
		&::before {
			background-color: #82bfff;
			position: absolute;
			opacity: 47%;
			width: 2px;
			content: '';
			top: 54px;
			height: 22px;
			left: 25px;
			z-index: 1;
		}
		svg {
			width: 57px;
		}
		h2 {
			font-style: normal;
			font-weight: 700;
			font-size: 21px;
			color: #0675eb;
		}
	}
	ul {
		margin-left: 70px;
		list-style: disc;
        padding: 0;
		li {
			list-style: none;
			position: relative;
			.list-item {
				font-style: normal;
				font-weight: 600;
				font-size: 17px;
				line-height: 26px;
				color: #0675eb;
				svg {
					margin-left: -3.03em;
					margin-top: 0.34em;
					position: absolute;
					z-index: 2;
				}
				&::after {
					position: absolute;
					background-color: #82bfff;
					opacity: 47%;
					width: 2px;
					content: '';
					top: 0px;
					bottom: 0px;
					left: -45px;
					z-index: 1;
				}
				span {
					color: #3e3b3b;
				}
			}
			ul {
				li {
					list-style: disc;
					font-family: 'Poppins';
					font-style: normal;
					font-weight: 400;
					font-size: 13px;
					line-height: 20px;
					color: #3e3b3b;
				}
			}
			h4 {
				font-style: normal;
				font-weight: bolder;
				font-size: 13px;
				line-height: 20px;
				color: #3e3b3b;
			}
			h3 {
				font-style: normal;
				font-weight: 900;
				font-size: 15px;
				line-height: 22px;
				color: #3e3b3b;
			}
		}
	}
}
