<div class="portfolio-details">
  <div class="portfolio-details__heading">
    <button (click)="goback()">
      <img src="assets/img/chevron.svg" alt="icon" />
    </button>
    <h1>Portfolio</h1>
  </div>
  <!-- <div class="portfolio-details__hero">
    <img [src]="'assets/img/' + bgImage" alt="portfolio" />
  </div> -->
  <div class="portfolio-details__hero">
    <img src="assets/img/bannerImage.jpg" alt="" srcset="">
  </div>
  <div class="portfolio-details__images">
    <div class="portfolio-details__images--container">
      <img
        [src]="'assets/img/' + image.detailPathImages"
        *ngFor="let image of detailImages"
        alt="portfolio image"
        (click)="onClick($event, mymodal)"
      />
    </div>
  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-body">
    <img
      src="{{ imgSrc }}"
      style="max-width: 100%; cursor: pointer"
      class="modal-hover-opacity"
    />
  </div>
</ng-template>
